@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: black; */
  font-family: SF Pro Display, SF Pro Icons, Arial, Helvetica,
    sans-serif 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
}
